<!--
  Generated template for the PrevRunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>prevRun</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let workout of workouts">
        <ion-card-header>{{ workout.calories }}</ion-card-header>
        <ion-card-content>
            <p>Activity: {{ workout.activityType }}</p>
            <p>Duration: {{ workout.duration / 100 }} min</p>
            <p>Date: {{ workout.startDate | date:'short' }}</p>
            <p>Distance: {{ workout.miles }} miles</p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let item of activities">
        <ion-card-header>{{ activity.calories }}</ion-card-header>
        <ion-card-content>
            <p>Start Time: {{ activity.startTime }}</p>
            <p>End Time: {{ activity.endTime }}</p>
            <p>Date: {{ activity.speed }} m/s</p>
            <p>Distance: {{ activity.dist }} meters</p>
        </ion-card-content>
    </ion-card>

</ion-content>